@import "tailwindcss";

@theme {
  --color-sproutgreen: #079C40;
  --color-skyblue: #088FD2;
  --color-darkbrown: #5B2D04;
  --color-lightbrown: #EE974B;

}

@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 900; /* defines the range for variable font */
  font-style: normal;
}

:root {
  font-family: 'Quicksand', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-darkbrown;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  @apply text-lg max-md:text-base;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Quicksand', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h2 {
  @apply text-2xl max-md:text-xl font-semibold;
}

.weather-card {
  @apply bg-white rounded-lg border-4 border-skyblue p-5;

  h2 {
    @apply font-bold text-skyblue;

    &.temp {
      @apply text-darkbrown;
    }
  }

  /* We have to adjust padding for this card, to allow for frost alerts */
  &.daily-forecast-card {
    @apply p-0;
  }

  &.frost-alert {
    @apply bg-skyblue text-white border-white hover:bg-[#5DA7F2];

    h2 {
      @apply text-white;
    }
  }

  &.severe-alert {
    @apply bg-red-500 text-white border-white hover:bg-red-400;

    h2 {
      @apply text-white;
    }
  }
}

.hour-card {
  @apply font-normal;
}

.modal-close-button {
  @apply text-lg w-[min-content] rounded-md bg-skyblue px-2 py-2 text-white font-semibold hover:bg-skyblue/70 transition-colors cursor-pointer;
}

.gardening-advice,
.city-search {
  @apply bg-darkbrown rounded-lg border-4 border-sproutgreen text-white p-3;
}

.frost-pulse {
  animation-duration: 4s;
  animation-name: white-blue-pulse;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1)
}

@keyframes white-blue-pulse{
  0% {
    background-color: white;
  }
  50% {
    background-color: #088FD2;
  }
  100% {
    background-color: white;
  }
}

/* Flower Animations */

.animated-coneflower path {
  display: none;
  transition: 1s ease-in-out;
}

.animated-coneflower .stem-group {
  transform-origin: bottom center;
}